<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="{% static 'favicon.png' %}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{% static 'favicon.png' %}" rel="apple-touch-icon"/> 
</head>
<body>
    {% extends 'base_generic.html' %}

{% block content %}
  <h1>Agregar Cita</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Agregar Cita</button>
  </form>
{% endblock %}

</body>
</html>