{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="{% static 'js/index.js' %}"></script>
    <link href="{% static 'favicon.png' %}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{% static 'favicon.png' %}" rel="apple-touch-icon"/> 
    <link href="{% static 'favicon.png' %}" rel="shortcut icon" type="image/x-icon"/>
    <link href="{% static 'favicon.png' %}" rel="apple-touch-icon"/> 
</head>

<body class="dashboard">
  <div class="navigation">
    <div class="wrapper2">
        <div class="abilan">
            <img src="{% static 'logo2.png' %}" />
        </div>
        <div class="folders">
            <div class="folder-icons">
                <a class="icon-name" href="{% url 'dashboard' %}">Inicio</a>
            </div>
            <div class="folder-icons">
                <a class="icon-name" href="{% url 'agregar_paciente' %}">Agregar Paciente</a>
            </div>
            <div class="folder-icons">
                <a class="icon-name" href="{% url 'agregar_cita' %}">Agregar Cita</a>
            </div>
            <div class="folder-icons">
                <a class="icon-name" href="{% url 'procesar_manuscrito' %}">Escanear Imágenes</a>
            </div>
        </div>
    </div>
  </div>
  <div class="right-side wrapper">
      <div class="top-bar-justify">
          <h1 class="big-inbox">Bienvenido, {{ user.nombre }} {{ user.apellidos }}</h1> <!-- Display psychologist's name -->
          <button class="compose" href="{% url 'logout' %}">Cerrar Sesión</button>
      </div>
      
      <div class="right-body">
        <div class="scroll-cards">

            <div class="container">
                <h1>Lista de Pacientes</h1>
                <div class="mail-info">
                    {% for paciente in pacientes %}
                        <div class="scroll-cards" >
                            <div class="card" onclick="toggleDetails( {{ paciente.id }} )">
                                <div class="mails">
                                    {% if paciente.foto %}
                                        <img src="{{ paciente.foto.url }}" alt="Foto de {{ paciente.nombre_completo }}">
                                    {% else %}
                                        <img src="{% static 'logo2.png' %}" alt="Foto de perfil">
                                    {% endif %}
                                    <h2 class="mail-names">{{ paciente.nombre_completo }}</h2>
                                    <br>
                                </div>
                                <div class="mail-info">
                                    <p class="mail-info">Edad: {{ paciente.edad }} años</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>            
            </div>
        </div>    
        {% for paciente in pacientes %}
        <div class="message details-container" id="details-{{ paciente.id }}" style="display: none;">
            {% if paciente.foto %}
            <img class="imagen-detalles" src="{{ paciente.foto.url }}" alt="Foto de {{ paciente.nombre_completo }}">
            {% else %}
            <img class="imagen-detalles" src="{% static 'logo2.png' %}" alt="Foto de perfil">
            {% endif %}
            <h2 class="mail-names">{{ paciente.nombre_completo }}</h2>
            <p class="mail-info">Edad: {{ paciente.edad }} años</p>
            <p>Género: {{ paciente.genero }}</p>
            <p>Correo: {{ paciente.correo }}</p>
            <p>Teléfono: {{ paciente.telefono }}</p>
            <p>Dirección: {{ paciente.direccion }}</p>
            <p>Fecha de Registro: {{ paciente.fecha_registro }}</p>
            <p>Fecha de Nacimiento: {{ paciente.fecha_nacimiento }}</p>
            <p>Lugar de Nacimiento: {{ paciente.lugar_nacimiento }}</p>
            <p>Escolaridad: {{ paciente.escolaridad }}</p>
            <p>Estado Civil: {{ paciente.estado_civil }}</p>
            <p>Religión: {{ paciente.religion }}</p>
            <p>Acude Voluntariamente: {{ paciente.acude_voluntariamente }}</p>
            
            <!-- Información de los padres -->
            <h3>Información del Padre</h3>
            <p>Nombre: {{ paciente.nombre_padre }}</p>
            <p>Edad: {{ paciente.edad_padre }}</p>
            <p>Escolaridad: {{ paciente.escolaridad_padre }}</p>
            <p>Ocupación: {{ paciente.ocupacion_padre }}</p>
            <p>Antecedentes Patológicos: {{ paciente.antecedentes_patologicos_padre }}</p>

            <h3>Información de la Madre</h3>
            <p>Nombre: {{ paciente.nombre_madre }}</p>
            <p>Edad: {{ paciente.edad_madre }}</p>
            <p>Escolaridad: {{ paciente.escolaridad_madre }}</p>
            <p>Ocupación: {{ paciente.ocupacion_madre }}</p>
            <p>Antecedentes Patológicos: {{ paciente.antecedentes_patologicos_madre }}</p>

            <p>Estado Civil de los Padres: {{ paciente.estado_civil_padres }}</p>

            <!-- Información de los hermanos -->
            <h3>Información de Hermanos</h3>
            <p>Nombre Hermano 1: {{ paciente.nombre_hermano_1 }}</p>
            <p>Edad Hermano 1: {{ paciente.edad_hermano_1 }}</p>
            <p>Grado Escolar Hermano 1: {{ paciente.grado_escolar_hermano_1 }}</p>
            <p>Antecedentes Patológicos Hermano 1: {{ paciente.antecedentes_patologicos_hermano_1 }}</p>
            <p>Adicciones Hermano 1: {{ paciente.adicciones_hermano_1 }}</p>

            <p>Nombre Hermano 2: {{ paciente.nombre_hermano_2 }}</p>
            <p>Edad Hermano 2: {{ paciente.edad_hermano_2 }}</p>
            <p>Grado Escolar Hermano 2: {{ paciente.grado_escolar_hermano_2 }}</p>
            <p>Antecedentes Patológicos Hermano 2: {{ paciente.antecedentes_patologicos_hermano_2 }}</p>
            <p>Adicciones Hermano 2: {{ paciente.adicciones_hermano_2 }}</p>

            <p>Nombre Hermano 3: {{ paciente.nombre_hermano_3 }}</p>
            <p>Edad Hermano 3: {{ paciente.edad_hermano_3 }}</p>
            <p>Grado Escolar Hermano 3: {{ paciente.grado_escolar_hermano_3 }}</p>
            <p>Antecedentes Patológicos Hermano 3: {{ paciente.antecedentes_patologicos_hermano_3 }}</p>
            <p>Adicciones Hermano 3: {{ paciente.adicciones_hermano_3 }}</p>

            <!-- Otras personas en el hogar -->
            <h3>Otras Personas en el Hogar</h3>
            <p>{{ paciente.otras_personas_hogar }}</p>

            <!-- Preguntas de salud -->
            <h3>Antecedentes Médicos</h3>
            <p>Asma/Alergias: {{ paciente.asma_alergias }}</p>
            <p>Catarros Frecuentes: {{ paciente.catarros_frecuentes }}</p>
            <p>Epilepsia/Convulsiones: {{ paciente.epilepsia_convulsiones }}</p>
            <p>Convulsiones Febriles: {{ paciente.convulsiones_febriles }}</p>
            <p>Manías: {{ paciente.manias }}</p>
            <p>Lesiones en la Cabeza: {{ paciente.lesiones_cabeza }}</p>
            <p>Cirugías/Hospitalización: {{ paciente.cirugias_hospitalizacion }}</p>
            <p>Problemas de Visión: {{ paciente.problemas_vision }}</p>
            <p>Problemas de Apetito: {{ paciente.problemas_apetito }}</p>
        </div>
        {% endfor %}
          
          <div id="citas-section" class="profile">
              <h2 class="names">Citas</h2>
              {% if citas %}
                  <ul class="items">
                      {% for cita in citas %}
                          <li class="mail-info">{{ cita.fecha }} - {{ cita.paciente.nombre }} {{ cita.paciente.apellido }}</li>
                      {% endfor %}
                  </ul>
              {% else %}
                  <p class="icon-name">No tienes citas próximas.</p>
              {% endif %}
              
              {% if pacientes %}
              {% else %}
                  <p class="icon-name">No puedes agregar citas hasta que tengas pacientes registrados.</p>
              {% endif %}
          </div>
      </div>
  </div>
</body>
</html>
