{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
</head>

<body class="dashboard">
  <div class="left sidebar">
      <div class="folder">
          <div class="folder-icons">
              <a class="icon-name" href="{% url 'agregar_paciente' %}">Agregar Paciente</a>
          </div>
          <div class="folder-icons">
              <a class="icon-name" href="{% url 'agregar_cita' %}">Agregar Cita</a>
          </div>
          <div class="folder-icons">
              <a class="icon-name" href="{% url 'procesar_manuscrito' %}">Escanear Imágenes</a>
          </div>
      </div>
  </div>
  <div class="right-side wrapper">
      <div class="top-bar-justify">
          <h1 class="big-inbox">Bienvenido, {{ user.nombre }} {{ user.apellidos }}</h1> <!-- Display psychologist's name -->
          <a class="compose" href="{% url 'logout' %}">Cerrar Sesión</a>
      </div>
      
      <div class="right-body">
          <div class="profile">
              <h2 class="names">Pacientes</h2>
              {% if pacientes %}
                  <div class="search-bar">
                      <input type="text" placeholder="Buscar paciente...">
                      <img src="{% static 'search-icon.png' %}" alt="Buscar">
                  </div>
                  <ul class="items">
                      {% for paciente in pacientes %}
                          <li class="mail-info">{{ paciente.nombre }} {{ paciente.apellido }}</li>
                      {% endfor %}
                  </ul>
              {% else %}
                  <p class="icon-name">No tienes pacientes registrados.</p>
              {% endif %}
          </div>
          
          <div id="citas-section" class="profile">
              <h2 class="names">Citas</h2>
              {% if citas %}
                  <ul class="items">
                      {% for cita in citas %}
                          <li class="mail-info">{{ cita.fecha }} - {{ cita.paciente.nombre }} {{ cita.paciente.apellido }}</li>
                      {% endfor %}
                  </ul>
              {% else %}
                  <p class="icon-name">No tienes citas próximas.</p>
              {% endif %}
              
              {% if pacientes %}
              {% else %}
                  <p class="icon-name">No puedes agregar citas hasta que tengas pacientes registrados.</p>
              {% endif %}
          </div>
      </div>
  </div>
</body>
</html>
